/* All styles */
* {
	background: #fff !important;
	color: #000 !important;
	border-color: #000 !important;
}

/* Custom styles for site */
#horizontal-multilevel-menu > li > ul > li:nth-child(1) {
	border-top: 1px solid #000;
}
#header-wrapper {
	border: 2px solid #000;
}
