/* All styles */
* {
	background: #000  !important;
	color: #fff  !important;
	border-color: #fff !important;
}

/* Custom styles for site */
#horizontal-multilevel-menu > li > ul > li:nth-child(1) {
	border-top: 1px solid #fff;
}
#header-wrapper {
	border: 2px solid #fff;
}
