/* All styles */
* {
	font-size: 22px !important;
}

/* Custom styles for site */
.header-title-line2 {
    font-size: 2.5em !important;
}

#main-menu * {
	font-size: 19px !important;
}

.header-title-line1 {
	margin-top: 30px;
	margin-bottom: -30px;
}
