/* All styles */
img {
	-webkit-filter: grayscale(100%) !important;
	-moz-filter: grayscale(100%) !important;
	-ms-filter: grayscale(100%) !important;
	-o-filter: grayscale(100%) !important;
	filter: grayscale(100%) !important;
}


/* Custom styles for site */
img,
.main-news-list-img,
.news-picture,
#myCarousel,
div.news-list > div > a > img,
div.links-item > a > img,
.preview_picture,
div#page-body img {
	display: block !important;
}
