/* All styles */
img {
	display: none !important;
}

/* Custom styles for site */
.news-picture,
#myCarousel,
.main-news-list-img,
div.news-list > div > a > img,
div.links-item > a > img,
.preview_picture,
div#page-body img {
	display: none !important;
}
