/* All styles */
img {
	display: block;
}

/* Custom styles for site */
.main-news-list-img,
.news-picture,
#myCarousel,
div.news-list > div > a > img,
div.links-item > a > img,
.preview_picture,
div#page-body img {
	display: block !important;
}

img,
.pluso-vkontakte,
.pluso-odnoklassniki,
.pluso-facebook,
.pluso-twitter,
.pluso-email,
.pluso-print {
	-webkit-filter: inherit;
	-moz-filter: inherit;
	-ms-filter: inherit;
	-o-filter: inherit;
	filter: inherit;
}
