/* Styles for Poor Block */
.poor-block {
	display: block;
	overflow:hidden;
	height: 60px;
	margin: 0 -15px;
	padding: 10px 5px;
	width: 1280px;
}
.poor-block * {
	font-size: 16px !important;
	letter-spacing: 0pt !important;
	line-height: 1.5 !important;
}
.poor-block .wrapper {
	white-space: nowrap;
}
.poor-block .poor-name, .poor-block .poor-int-name,
.poor-block .color, .poor-block .font, .poor-block .line,
.poor-block .char, .poor-block .image {
	display:inline-block;
}
.poor-block .poor-name, .poor-block .poor-int-name {
	font-size: 18px !important;
	margin: 0 5px;
}
.poor-block .poor-name {
	font-weight: 700;
}
.poor-block .color {
	height: 40px;
	width: 40px;
	font-size: 22px !important;
	padding: 2px 9px;
	cursor: pointer;
}
.poor-block .color,
.poor-block .font,
.poor-block .line,
.poor-block .char,
.poor-block .image {
	border: 2px solid #000;	
}
.poor-block .color-black {
	background-color: #000 !important;
	color: #fff !important;
}
.poor-block .color-white {
	background-color: #fff !important;
	color: #000 !important;
}
.poor-block .font {
	padding: 0 10px;
	vertical-align: top;
	cursor: pointer;
}
.poor-block .font-small {
	font-size: 14px !important;
}
.poor-block .font-medium {
	font-size: 19px !important;
}
.poor-block .font-large {
	font-size: 25px !important;
}
.poor-block .line,
.poor-block .char,
.poor-block .image {
	padding: 0 10px;
	font-size: 22px !important;
	cursor: pointer;
}
.poor-block .reset-poor {
	color: #000 !important;
	font-weight: 700;
	border-color: #000 !important;
	background-color: #3ff !important;
}
