#header {
	background-image: none;
	height: 100%;
}

#header-title {
	text-shadow: none;
	background: none !important;
}
#header-logo {
	background: none !important;
}
#header-title a, .poorvis > a, a:link, b,
div.news-item span.news-date-time {
	color: black;
}

.header-title-line1 {
	font-size: 21px;
}

input[type="submit"] {
	color: #fff;
	background: gray;
	border-color: black;
}

td > a,
td > b,
div#page-body ul li,
div#page-body b,
div#page-body a,
div#page-body div,
td {
	font-size: 21px;
}

#main-menu {
	background-color: gray;
	border: 2px solid #000;
}
#horizontal-multilevel-menu, #horizontal-multilevel-menu ul {
	font-size: 90%;
}
#horizontal-multilevel-menu li ul a,
#horizontal-multilevel-menu li ul li ul li a,
#horizontal-multilevel-menu li ul li ul li ul li a {
	font-size: 15px;
}

h2, h3, h4, h5 {
	color: #000;
}

h1, h2, h3, h4,
.main-news-header,
.all_news {
	font-size: 25px;
}

div.news-item span.news-date-time,
#footer-wrapper div.copyright {
	font-size: 19px;
}

div.news-text > div.news-name a {
	font-size: 23px;
}

td div.news-text > div.news-name a {
	font-size: 18px !important;
}

.news-preview-text,
.bottom-menu-one,
.bottom-menu-two {
	font-size: 21px;
}

div.page-right > div.news-list > div > a,
div.page-right > div.links-item > a,
div.page-right > div.video-list > div.links-item > a,
div.bottom-links-text > a,
div.bottom-links-wrapper > a
 {
	font-size: 20px !important;
}

p {
	font-size: 21px !important;
}

div.main-news-list-text .news-item-text {
	height: auto;
}

.bottom-links-wrapper {
	width: 182px;
}

div.news-list > div > a > img,
div.links-item > a > img,
.preview_picture,
div#page-body img {
	display: none !important;
}


div.links-item,
.bottom-links-text-wrapper,
ul.bottom-links li .bottom-links-li-wrapper,
#bottom-page-wrapper .bottom-links-wrapper {
	background: gray;
}

img,
.pluso-vkontakte,
.pluso-odnoklassniki,
.pluso-facebook,
.pluso-twitter,
.pluso-email,
.pluso-print {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.poorvis {
    position: absolute;
	color: #000;
	font-size: 18px;
	margin-top: 20px;
	border: 2px solid #000 !important;
	padding: 5px;
}
.poorvis a {
	text-shadow: 0px 0px 0px #000;
}
.main-news-list-img,
.news-picture,
#myCarousel {
	display: none !important;
}

.main-news-list-text,
.news-text {
	width: 100%;
}

div.links-item,
#bottom-page-wrapper .bottom-links-wrapper {
	box-shadow: none;
}

ul.bottom-links li a {
	padding-top: 5px;
}

div.photo-items-list,
.photo-show-more {
	display: none;
}

div.main-news-list-text .news-item-text:hover, div.main-news-list-text .news-item-text-active {
	border: 1px solid #ddd;
}

#horizontal-multilevel-menu li:hover a.root-item, #horizontal-multilevel-menu li.jshover a.root-item, #horizontal-multilevel-menu li a.root-item-selected {
	background: #D6D6D6;
	color: #000;
}

#bottom-page-wrapper .carousel-control.left,
#bottom-page-wrapper .carousel-control.right {
	background-image: none;
}

.carousel-control:focus, .carousel-control:hover {
	color: #000;
}

div.bottom-menu-left ul li a {
	color: #2b2b2b;
}

